# แบบทดสอบการจัดการกับ List

## นายวายุ บัวศรี 6812732123

In [30]:
lt = [1, 2, 3, 4, 5]

## 1. เพิ่มข้อมูลเข้าไปใน list ทีละตัว

100, 200, 300, 400

In [31]:
lt.append(100)

In [32]:
lt.append(200)

In [33]:
lt.append(300)

In [34]:
lt.append(400)

In [35]:
print(lt)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 2. นำ List เพิ่มเข้าใน lt

In [36]:
sub = [6, 7, 8, 9, 10]

In [37]:
lt.append(sub)

In [38]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400, [6, 7, 8, 9, 10]]

## 3. เข้าถึงเข้ามูลตัวสุดท้ายภายใน list

In [55]:
lt[-1]

[6, 7, 8, 9, 10]

## 4. นำข้อมูลตัวสุดท้ายออกจาก list

In [63]:
print(lt.pop())

print(lt)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 5. นำข้อมูลตัวที่ 5 ออกจาก list

In [64]:
del lt[4]

In [65]:
lt

[1, 2, 3, 4, 100, 200, 300, 400]

## 6. เพิ่มคำว่า "Python" เข้าไปใน list ตำแหน่งที่ 3

In [67]:
lt.insert(2, "Python")

In [68]:
lt

[1, 2, 'Python', 3, 4, 100, 200, 300, 400]

## 7. ลบข้อมูลในตำแหน่งที่ 6 ออกจาก list

In [69]:
del lt[5]

In [70]:
lt

[1, 2, 'Python', 3, 4, 200, 300, 400]

## 8. แสดงจำนวนสมาชิกภายใน list

In [72]:
print(lt)

[1, 2, 'Python', 3, 4, 200, 300, 400]

## 9. reverse list

In [75]:
lt[::-1]

[400, 300, 200, 4, 3, 'Python', 2, 1]

In [77]:
"Python"[::-1]

'nohtyP'

## 10. เคลียร์ list ให้เป็น list ว่าง

In [80]:
lt.clear()

In [81]:
lt

[]